<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script {{ opendxp_csp.getNonceHtmlAttribute()|raw }}>
        parent.opendxp.iconlibrary.replaceCurrentTabWithIconLibrary();
    </script>
</head>
<body>
</body>
</html>